 body {
	background-color: lightblue;
	}
.field div{
	background-color: lightgreen;
	height: all;
	width: all;
	display: inline-block;
		
}
.inputValue {
	background-color: pink;
	width: all;
	height: all;
	align-items: center;
	justify-content: center;
}
.chart {
	/*background-color: lightgreen;*/
}
p {
	background-color: white;
	align-items: center;
	text-align: right;
}